<header>
    <div class="container">
        <div class="header-content">
            <div class="logo">
                <img src="images/logo.png" alt="AiMinds Logo" class="logo-img">
                <div class="logo-text">AiMinds</div>
            </div>
            <nav>
                <ul>
                    <li><a href="#" class="nav-link active" data-page="home">Home</a></li>
                    <li><a href="#" class="nav-link" data-page="events">Events</a></li>
                    <li><a href="#" class="nav-link" data-page="announcements">Announcements</a></li>
                    <li><a href="#" class="nav-link" data-page="contact">Contact Us</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>

